RewriteEngine on

RewriteCond %{HTTP_HOST} ^myskincare-bali.my.id [NC]
RewriteRule ^(.*)$ https://www.myskincare-bali.my.id/$1 [L,R=301,NC]

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.myskincare-bali.my.id/$1 [R,L]

